*{
    font-family: 'Inclusive Sans', sans-serif;
}

.card{
    background-color: rgb(227, 227, 227);
    max-width: 20rem;
    border: 2px;
    border-style: solid;
    border-color: rgb(151, 151, 151);
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-top: 80px;
}

.container{
    display: flex;
    justify-content: center;
}